* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../Imagenes/fondo.png');
    background-size: cover;
    color: white;
    text-align: center;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 55px;
}

.fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    position: relative;
    background-color: rgba(0, 0, 50, 0.8);
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Texto con sombra para mayor legibilidad */
}

h1 i, h2 i {
    font-size: 22px;
    color: #ff9800;
}

/* Espaciado adicional para la última sección */
.history {
    margin-top: 20px;
}

.history img {
    width: 80%;
    margin-top: 20px;
}

/* Sección de estadísticas */
.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 22%;
    margin: 10px 0;
    font-size: 18px;
}

.card h2 {
    font-size: 24px;
}

.card p {
    font-size: 18px; 
    font-weight: 600; 
    color: #ffd700;  
    padding: 10px; 
    margin-top: 10px; 
}

.card h2, .card p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/* Botón de volver */
.volver {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    margin: 20px auto;
    padding: 14px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(to right, #7b1fa2, #ff9800);
}

.volver:hover {
    transform: scale(1.05); 
    background: linear-gradient(to right, #bb1717, #2010b1); 
}

/* Cambios para el estado activo (cuando el botón es presionado) */
.volver:active {
    transform: scale(0.95); /* Reduce el tamaño ligeramente para simular que está siendo presionado */
    background: linear-gradient(to right, #d32f2f, #8e24aa);
}


/*--------------Para pantallas más pequeñas----------------*/
@media (max-width: 768px) {
    .stats {
        flex-direction: column; /* Las tarjetas se apilan verticalmente */
        align-items: center; /* Centra las tarjetas */
    }

    .card {
        width: 80%; /* Asegura que las tarjetas no sean demasiado pequeñas */
    }

    .container {
        width: 90%; /* Ajusta el ancho del contenedor para pantallas más pequeñas */
    }
}
